<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_robertoruiz"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RobertoRuizApp"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".framework.view.activities.SignUpActivity"
            android:exported="true"/>
        <activity
            android:name=".framework.view.activities.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".framework.view.fragments.FragmentoInfoCursos"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".framework.view.fragments.FragmentoInscripcionExitosa"
            android:exported="true"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".framework.view.activities.InfoMisCursos"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <!-- Pantalla de Carga de FRRO -->
        <activity
            android:name=".framework.view.activities.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RobertoRuizApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- Activiy de Detalle Programas y Becas-->
        <activity android:name=".framework.view.activities.ProgramDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RobertoRuizApp.NoActionBar"
            />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name=".framework.view.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".framework.view.activities.EditProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            />


    <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>